<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doorway.tradememo.mapper.StockHistoryPositionMapper" >
    <resultMap id="BaseResultMap" type="com.doorway.tradememo.domain.StockHistoryPosition" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="profit" property="profit" jdbcType="DECIMAL" />
        <result column="term" property="term" jdbcType="VARCHAR" />
        <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
        <result column="expend" property="expend" jdbcType="DECIMAL" />
        <result column="income" property="income" jdbcType="DECIMAL" />
        <result column="profit_rate" property="profitRate" jdbcType="DECIMAL" />
        <result column="hold_time" property="holdTime" jdbcType="INTEGER" />
        <result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
        <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
        <result column="trade_count" property="tradeCount" jdbcType="INTEGER" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, user_id, code, profit, term, tenant_id, created_time, updated_time, expend, income, 
        profit_rate, hold_time, open_time, close_time, trade_count
    </sql>

    <select id="queryAndOrder" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from stock_history_position

        <where >
            <if test="detail.userId != null" >
                and user_id = #{detail.userId,jdbcType=VARCHAR}
            </if>
            <if test="detail.code != null" >
                and code = #{detail.code,jdbcType=VARCHAR}
            </if>
            <if test="detail.term != null" >
                and term = #{detail.term,jdbcType=VARCHAR}
            </if>
        </where>

        order by
        <foreach item="value" index="key" collection="sortMap.entrySet()" separator=",">
            ${key} ${value}
        </foreach>
    </select>

    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from stock_history_position
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <delete id="delById" parameterType="java.lang.String" >
        delete from stock_history_position
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <insert id="save" parameterType="com.doorway.tradememo.domain.StockHistoryPosition" >
        insert into stock_history_position (id, user_id, code, 
            profit, term, tenant_id, 
            created_time, updated_time, expend, 
            income, profit_rate, hold_time, 
            open_time, close_time, trade_count
            )
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
            #{profit,jdbcType=DECIMAL}, #{term,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, 
            #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{expend,jdbcType=DECIMAL}, 
            #{income,jdbcType=DECIMAL}, #{profitRate,jdbcType=DECIMAL}, #{holdTime,jdbcType=INTEGER}, 
            #{openTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, #{tradeCount,jdbcType=INTEGER}
            )
    </insert>
    
    <update id="modifySelective" parameterType="com.doorway.tradememo.domain.StockHistoryPosition" >
        update stock_history_position
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="profit != null" >
                profit = #{profit,jdbcType=DECIMAL},
            </if>
            <if test="term != null" >
                term = #{term,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null" >
                tenant_id = #{tenantId,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null" >
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null" >
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expend != null" >
                expend = #{expend,jdbcType=DECIMAL},
            </if>
            <if test="income != null" >
                income = #{income,jdbcType=DECIMAL},
            </if>
            <if test="profitRate != null" >
                profit_rate = #{profitRate,jdbcType=DECIMAL},
            </if>
            <if test="holdTime != null" >
                hold_time = #{holdTime,jdbcType=INTEGER},
            </if>
            <if test="openTime != null" >
                open_time = #{openTime,jdbcType=TIMESTAMP},
            </if>
            <if test="closeTime != null" >
                close_time = #{closeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tradeCount != null" >
                trade_count = #{tradeCount,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <update id="modify" parameterType="com.doorway.tradememo.domain.StockHistoryPosition" >
        update stock_history_position
        set user_id = #{userId,jdbcType=VARCHAR},
            code = #{code,jdbcType=VARCHAR},
            profit = #{profit,jdbcType=DECIMAL},
            term = #{term,jdbcType=VARCHAR},
            tenant_id = #{tenantId,jdbcType=VARCHAR},
            created_time = #{createdTime,jdbcType=TIMESTAMP},
            updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            expend = #{expend,jdbcType=DECIMAL},
            income = #{income,jdbcType=DECIMAL},
            profit_rate = #{profitRate,jdbcType=DECIMAL},
            hold_time = #{holdTime,jdbcType=INTEGER},
            open_time = #{openTime,jdbcType=TIMESTAMP},
            close_time = #{closeTime,jdbcType=TIMESTAMP},
            trade_count = #{tradeCount,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <select id="getByIds" resultMap="BaseResultMap" >
        select 
        <include refid="Base_Column_List" />
        from stock_history_position where id in 
        <foreach collection="list" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="getByPojo" resultMap="BaseResultMap" parameterType="com.doorway.tradememo.domain.StockHistoryPosition" >
        select 
        <include refid="Base_Column_List" />
        from stock_history_position 
        <where >
            <if test="id != null" >
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="userId != null" >
                and user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="code != null" >
                and code = #{code,jdbcType=VARCHAR}
            </if>
            <if test="profit != null" >
                and profit = #{profit,jdbcType=DECIMAL}
            </if>
            <if test="term != null" >
                and term = #{term,jdbcType=VARCHAR}
            </if>
            <if test="tenantId != null" >
                and tenant_id = #{tenantId,jdbcType=VARCHAR}
            </if>
            <if test="createdTime != null" >
                and created_time = #{createdTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updatedTime != null" >
                and updated_time = #{updatedTime,jdbcType=TIMESTAMP}
            </if>
            <if test="expend != null" >
                and expend = #{expend,jdbcType=DECIMAL}
            </if>
            <if test="income != null" >
                and income = #{income,jdbcType=DECIMAL}
            </if>
            <if test="profitRate != null" >
                and profit_rate = #{profitRate,jdbcType=DECIMAL}
            </if>
            <if test="holdTime != null" >
                and hold_time = #{holdTime,jdbcType=INTEGER}
            </if>
            <if test="openTime != null" >
                and open_time = #{openTime,jdbcType=TIMESTAMP}
            </if>
            <if test="closeTime != null" >
                and close_time = #{closeTime,jdbcType=TIMESTAMP}
            </if>
            <if test="tradeCount != null" >
                and trade_count = #{tradeCount,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    
    <select id="getAll" resultMap="BaseResultMap" >
        select 
        <include refid="Base_Column_List" />
        from stock_history_position
    </select>
    
    <select id="getAllCount" resultType="java.lang.Integer" >
        select count(1) from stock_history_position
    </select>
    
    <insert id="saveBatch" parameterType="java.util.List" >
        insert into stock_history_position (id, user_id, code, profit, term, tenant_id, created_time, updated_time, expend, income, profit_rate, hold_time, open_time, close_time, trade_count)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.id,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR}, #{item.code,jdbcType=VARCHAR}, #{item.profit,jdbcType=DECIMAL}, #{item.term,jdbcType=VARCHAR}, #{item.tenantId,jdbcType=VARCHAR}, #{item.createdTime,jdbcType=TIMESTAMP}, #{item.updatedTime,jdbcType=TIMESTAMP}, #{item.expend,jdbcType=DECIMAL}, #{item.income,jdbcType=DECIMAL}, #{item.profitRate,jdbcType=DECIMAL}, #{item.holdTime,jdbcType=INTEGER}, #{item.openTime,jdbcType=TIMESTAMP}, #{item.closeTime,jdbcType=TIMESTAMP}, #{item.tradeCount,jdbcType=INTEGER})
        </foreach>
    </insert>
    
    <delete id="delByIds" >
        delete from stock_history_position where id in 
        <foreach collection="list" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
</mapper>